// site styles

@import 'compass/css3';
@import '_vars';

$text-color: #434343;

html, body, #wrap-outer {
    height: 100%;
}

$offcenter: 100px;
 
#scale-wrap {
    position: relative;
    top: 500px;
}   
#scale-left,
#scale-right {
    position: absolute;
    top: 2em;
    width: 50%;

    .axis {
        position: absolute;
        top: -30px;

        path,
        line {
            fill: none;
            stroke-width: 2px;
            stroke: $deep-grey-dark;
            shape-rendering: crispEdges;
        }

        .tick text {
            stroke: $deep-grey;
            fill: $deep-grey;
            font-family: $font-family-comic;
            font-size: 40px;
        }
    }
}

#scale-left {
    left: 0;

    .axis {
        right: $offcenter - 1px;
    }
}
#scale-right {
    right: 0;

    .axis {
        left: $offcenter - 1px;
        @include translate(-.5px, 0);
    }
}

.marker {
    $offset: 120px;
    $circle: 8px;
    $pad: 10px;
    position: absolute;
    top: 0;
    width: 50%;
    margin-top: - $circle - 2px;
    background: #fff;

    @include transition(transform .3s ease);

    label {
        display: block;
        // font: 1em/1.2 $font-family-minute-labs
        font: 1.3em/1.2 $font-family-comic;
    }

    $width: $offset - ($circle + $pad + 3px * 2);
    &:before {
        content: '';
        position: absolute;
        top: 4px;
        background: #fff;
        border: 3px solid $blue-dark;
        width: $circle;
        height: $circle;
        @include border-radius( 50% );
    }
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        border-bottom: 3px solid $blue-dark;
        width: $width - $pad;
        @include transform(translate(0, -.5px));
    }

    &:hover {
        z-index: 2;
        
        &:before,
        &:after {
            border-color: $blue;
        }
    }

    #scale-left & {
        text-align: right;
        right: $offset + $offcenter - $circle - $pad;
        &:before {
            right: $pad - $offset;
        }
        &:after {
            right: -$width;
        }
        
    }
    #scale-right & {
        left: $offset + $offcenter - $circle/2 - 3px - $pad;
        &:before {
            left: $pad - $offset;
        }
        &:after {
            left: -$width;
        }
    }

}