// site styles

@import 'compass/css3';
@import '_vars';

$text-color: #434343;

html, body, #wrap-outer {
    height: 100%;
}

#scale-left,
#scale-right {
    position: absolute;
    top: 2em;
    width: 100%;
}
#scale-left {
    left: 0;
}
#scale-right {
    right: 0;
}

.marker {
    $offset: 120px;
    $circle: 8px;
    $pad: 10px;
    position: absolute;
    top: 0;
    width: 30%;
    margin-top: - $circle/2 - 2px;
    background: #fff;

    @include transition(transform .3s ease);

    label {
        display: block;
        // font: 1em/1.2 "latin-modern-mono", Courier, monospace;
        font: 1.3em/1.2 "sf_cartoonist_hand", Helvetica, Arial, sans-serif;
    }

    $width: $offset - ($circle + $pad + 3px * 2);
    &:before {
        content: '';
        position: absolute;
        top: 4px;
        background: #fff;
        border: 3px solid $deep-grey;
        width: $circle;
        height: $circle;
        @include border-radius( 50% );
    }
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        border-bottom: 3px solid $deep-grey;
        width: $width - $pad;
        @include transform(translate(0, -.5px));
    }

    &:hover {
        z-index: 2;
        
        &:before,
        &:after {
            border-color: $blue;
        }
    }

    #scale-left & {
        left: $offset;
        &:before {
            left: $pad - $offset;
        }
        &:after {
            left: -$width;
        }
    }
    #scale-right & {
        text-align: right;
        right: $offset;
        &:before {
            right: $pad - $offset;
        }
        &:after {
            right: -$width;
        }
    }

}