// site styles

@import 'compass/css3';
@import "compass/utilities/general";
@import '_vars';

$text-color: #434343;

html, body, #wrap-outer {
    height: 100%;
}

body.loading {
    overflow: hidden;
}

sup {
    font-size: 0.4em;
}

[data-offcanvas="wrap"] {
    z-index: 2;
}

.offcanvas-inside {
    @include transition( transform .35s ease-out );

    .offcanvas-active & {
        @include transform( translate3d(500px, 0, 0) );
    }
}

/// spinner
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@-moz-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@-ms-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@-o-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@-moz-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@-ms-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@-o-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: rotate 2.0s infinite linear;
    -moz-animation: rotate 2.0s infinite linear;
    -ms-animation: rotate 2.0s infinite linear;
    -o-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;

    .dot1, 
    .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: #333;
        border-radius: 100%;

        -webkit-animation: bounce 2.0s infinite ease-in-out;
        -moz-animation: bounce 2.0s infinite ease-in-out;
        -ms-animation: bounce 2.0s infinite ease-in-out;
        -o-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
        top: auto;
        bottom: 0px;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
}

///////////

#loading-msg {
    display: none;
    position: absolute;
    top: 400px;
    left: 50%;
    text-align: center;
    width: 100px;
    margin-left: -30px;
    font-size: 20px;
    font-family: $font-family-minute-labs;

    &:after {
        content: 'loading';
    }

    .spinner {
        margin: 1em auto;
    }

    .loading & {
        display: block;
    }
}


$offcenter: 100px;
 
#scale-wrap {
    position: relative;
    margin-top: 2600px;
    margin-bottom: 50%;
    overflow: hidden;
}   
#scale-left,
#scale-right {
    position: absolute;
    top: 2em;
    width: 50%;

    .axis {
        position: absolute;
        top: -30px;

        path,
        line {
            fill: none;
            stroke-width: 2px;
            stroke: $deep-grey-dark;
            shape-rendering: crispEdges;
        }

        .tick text {
            stroke: $deep-grey-dark;
            fill: $deep-grey-dark;
            font-family: $font-family-comic;
            font-size: 40px;
        }
    }
}

#scale-left {
    left: 0;

    .axis {
        right: $offcenter - 2px;
    }
}
#scale-right {
    right: 0;

    .axis {
        left: $offcenter - 2px;
    }
}

.marker {
    $offset: 120px;
    $circle: 8px;
    $pad: 10px;
    position: absolute;
    top: 0;
    width: 300px;
    margin-top: - $circle - 2px;
    background: #fff;

    @include transition(transform .3s ease);

    abbr {
        display: block;
        text-decoration: none;
        // font: 1em/1.2 $font-family-minute-labs
        font: 1.3em/1.2 $font-family-comic;
        letter-spacing: 1px;

        a {
            display: block;
            opacity: 0;
            @include transition( opacity 0.3s ease-out );
            text-decoration: none;
        }

        &:hover a {
            opacity: 1;
        }
    }

    $width: $offset - ($circle + $pad + 3px * 2);
    &:before {
        content: '';
        position: absolute;
        top: 4px;
        background: #fff;
        border: 3px solid $blue-dark;
        width: $circle;
        height: $circle;
        @include border-radius( 50% );
    }
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        border-bottom: 3px solid $blue-dark;
        width: $width - $pad;
        @include transform(translate(0, -.5px));
    }

    &:hover {
        z-index: 2;
        
        &:before,
        &:after {
            border-color: $blue;
        }
    }

    #scale-left & {
        text-align: right;
        right: $offset + $offcenter - $circle - $pad;
        &:before {
            right: $pad - $offset;
        }
        &:after {
            right: -$width;
        }
        
    }
    #scale-right & {
        left: $offset + $offcenter - $circle/2 - 3px - $pad;
        &:before {
            left: $pad - $offset;
        }
        &:after {
            left: -$width;
        }
    }

}

#equation {
    position: absolute;
    top: 300px;
    left: 50%;
    font-size: 70px;
    font-family: $font-family-comic;
    color: $deep-grey-dark;

    .equals {
        position: relative;
        right: 0.15em;
        vertical-align: middle;
    }

    .c2 {
        position: relative;
        left: 0.5em;
    }
}
#explanations {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font: 30px/1.2 $font-family-comic;
    letter-spacing: 1px;

    @extend .offcanvas-inside;

    section {
        position: absolute;
        opacity: 0;
        @include transition( opacity .3s ease );

        p {
            margin: 0;
        }

        &.on {
            opacity: 1;
        }
    }

    section:nth-child(2) {
        top: 400px;
        width: 600px;
        left: 50%;
        margin-left: -270px;
        text-align: center;
    }

    section:nth-child(3) {
        top: 300px;
        width: 250px;
        left: 50%;
        margin-left: -350px;
    }

    section:nth-child(4) {
        top: 300px;
        width: 250px;
        left: 50%;
        margin-left: 180px;
    }

    section:nth-child(5) {
        top: 225px;
        width: 450px;
        left: 50%;
        margin-left: -200px;
        text-align: center;
    }

    section:nth-child(6) {
        top: 400px;
        width: 400px;
        left: 50%;
        margin-left: -180px;
    }
}

#middle {
    $width: 196px;
    position: fixed;
    top: 300px;
    left: 50%;
    z-index: 3;
    margin-left: -$width/2;
    margin-top: -$width/2;
    width: $width;
    color: $deep-grey-dark;

    @extend .offcanvas-inside;
    
    input {
        font-family: $font-family-minute-labs;
    }

    .energy,
    .mass {
        @include box-sizing( border-box );
        clear: none;
        float: left;
        width: 50%;
        padding: .5em;
        text-align: center;
        font-size: 70px;
        @include transition( background .3s ease );

        label {
            font-family: $font-family-comic;
            margin: 0;
            padding: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            border-bottom: 2px solid $red;
            width: 15px;
        }
    }

    .energy:after{
        left: -17px;
    }

    .mass:after{
        right: -17px;
    }

    .energy-controls,
    .mass-controls {
        @include clearfix;
        padding: 1em;
        @include transition( opacity .3s ease );
        opacity: 1;

        input {
            @include box-sizing( border-box );
            width: 100%;
            margin-bottom: 0.5em;
        }
        select {
            display: block;
        }
    }

    .energy,
    .energy-controls {
        background: $yellow-light;
        input {
            border-color: darken($yellow-light, 15);
        }
    }

    .mass,
    .mass-controls {
        background: $blue-light;
        input {
            border-color: darken($blue-light, 15);
            text-align: right;
        }
        select {
            float: right;
        }
    }

    &.outside {
        .energy:after,
        .mass:after {
            display: none;
        }
        .energy {
            background: transparentize($yellow-light, 1);
        }
        .mass {
            background: transparentize($blue-light, 1);
        }
        .energy-controls,
        .mass-controls {
            opacity: 0;
        }
    }
}



